body{
	background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1200/1111/Vector-woman-pink-stylish_1920x1200.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0%;
	padding:0%;
}
header{
	background-image: url(https://www.technocrazed.com/wp-content/uploads/2015/12/Pink-wallpaper-as-background-16.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	padding: 1%;	
	text-align: center;
	color:#C0C0C0;
	}
	nav {
		text-align: center;
	}
nav a{
	    	color: #000000; /* Black */
		display: block;
		padding-left: 15px;
		margin: 1%; 
		text-decoration: none; 
		border-radius: 5px; 
	        transition: .5s background-color;
}
#a2{
	background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/06/VS-Pink-Wallpapers-HD-Free-Download.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
}
h2{
	text-align: center;
	font-size: 150%;
	color:#c051db;
    background-color: #d41977;
    opacity: 0.7;
}
#a3{
	background-image: url(https://www.technocrazed.com/wp-content/uploads/2015/12/Pink-wallpaper-as-background-16.jpg);
	margin:0;
}
#q1{
	opacity: 0.7;
}
#h1{
	font-size: 150%;
	color: #000000;
}
img{
	border: 5px solid #FFFFFF;
}

nav ul{
	list-style: none;
	background-color: #ad0a30;
	text-align: center;
	padding: 0;
	margin: 0;
	opacity: 0.7;
}

nav li{
	width: 20%;
	border-right: 1px solid black;
	height: 50px;
	line-height: 50px;
	font-size: 140%;
	display: inline-block;
	margin-right: -4px;
}

nav li:last-child{
	border-right: none;
}

nav li li{
	border-right: none;
}


nav a:hover {
	background-color:#595354;
}

nav a.active{
	background-color: #ad0a30;
	color: #fff;
	cursor: default;
}

nav li li{
	font-size: .8em;
}

nav > ul > li {
	text-align: center;
}

nav > ul > li > a{
	padding-left: 0;
}

nav li ul {
	position: absolute;
	display: none;
	width: inherit;
}
nav li:hover ul{
	display: block;
}
nav li ul li {
	display: block;
}

